@font-face {
    font-family: 'AmaticSC';
    src: url('../fonts/AmaticSC-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: #F7F0EA;
   
}
header {
    margin: 0;
    padding: 0;
}

h1, h2, h3{
    font-family: 'AmaticSC', sans-serif; 
}

h1{
    text-align: center;
    font-weight: 400;
    font-size: 128px;
}

h2{
    font-weight: 400;
    font-size: 40px;
    padding-bottom: 25px;
}



h1, h2, h3, h4, h5{
    margin: 0;
    line-height: 1.4em;
}

h3{
    font-weight: 400;
    font-size: 40px;
}

h5{
    font-size: 24px;
    font-weight: 200;
}

p{
    margin: 0;
    line-height: 1.4em;  
    font-family: 'Montserrat Alternates', sans-serif;;
}

.p-bold{
    font-weight: 600;
}

* {
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    width: 100%;
}


.top-content{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-top: 20px;
    width:135px;
    display:block;
}


.navbar {
    padding: 10px;
}

.nav-menu {
    list-style-type: none;
    padding: 0;
    margin-top: 54px;
    display: flex;
}

.nav-item {
    position: relative;
    margin-right: 20px;
}

.menu-title {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-title:hover {
    color: #DDA786;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    min-width: 170px;
    list-style-type: none;
    padding: 5px;
    margin: 0;
    border-radius: 13px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-menu li a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-menu li a:hover {
    color: #DDA786;
}

.dropdown:hover .dropdown-menu {
    display: block;
}



p{
    padding-bottom: 10px;
}

a{
    color: black;
}





.pagination-container{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}

.pagination-container button{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 18px;
    border: none;
    background-color:  #FFFAF4;  
    cursor: pointer;
}





section{
    padding-top: 50px;
    padding-bottom: 50px;
}


.footer {
    background-color: #D8AD92; 
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px; 
    position: relative; 
    padding: 75px 0;
    padding-bottom: 50px; 
  }
  
  .footer-content {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.yarn-thread {
    position: absolute; 
    top:-40%;
    /* left: 0;  */
    width: 100%; 
    height: auto; 
    z-index: 10; 
}
  

.footer-right p{
    font-size: 14px;
    padding-top: 45px;
}

.footer-button{
    padding: 17px 62px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 24px;
    font-weight: 200;
    color: #fff;
    background-color: #5082BD;
    border: none;
    border-radius: 17px;
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
}

.footer-button:hover{
    background-color: #426C9D;
}


.footer h3{
    padding-bottom: 5px;
}

.social{
    padding-top: 15px;
    padding-right: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.social:hover{
    opacity: 85%;
}

.footer-thread {
   
    overflow: hidden;
}

/*Меню-бургер*/
/* .navbar {
    display: none;
    position: absolute;
    top: 70px; 
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px 0;
    z-index: 10;
}

.nav-menu {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
}

.nav-item {
    margin-bottom: 10px;
}

.burger-menu {
    display: flex;
}


.navbar.active {
    display: flex;
    flex-direction: column;
}

.dropdown-menu {
    position: static; 
}

.dropdown-menu.active {
    display: block;
    margin-bottom: 10px; 
} */


.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger-menu span {
    background-color: black;
    height: 3px;
    width: 25px;
    margin: 4px;
    transition: all 0.3s;
}

.navbar {
    top: 0;
    height: 100%;
    padding: 20px;
    transition: right 0.3s ease-in-out;
    z-index: 20;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    z-index: 10;
}


.navbar.active {
    right: 0;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

/*Меню-бургер*/

@media (max-width: 768px) {
   
    body{
        overflow-x: hidden;
      
    }

    h1 {
        padding: 0;
        margin: 0;
        font-size: 64px;
        padding-bottom: 150px;
        text-align: center;
    }

    h2{
        font-size: 40px;
        padding-bottom: 10px;
    }

    p{
        font-size: 13px;
        padding-top: 0;
    }

    h3{
        font-size: 28px;
        padding-bottom: 10px;
    }

    h5{
        font-size: 18px;
    }

    /*Меню-бургер*/
    .navbar {
        display: none;
        position: absolute;
        left: 0;
        width: 75%;
        background-color: #FFFDFC;
        padding: 10px 0;
        z-index: 10;
    }

    .nav-menu {
        padding-top: 20px;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0;
    }

    .nav-item {
        margin-bottom: 10px;
    }

    .burger-menu {
        display: flex;
    }

    .navbar.active {
        display: flex;
        flex-direction: column;
    }

    .dropdown-menu {
        position: static; /* Сделать меню статичным, чтобы оно не перекрывало другие элементы */
    }

    .dropdown-menu.active {
        display: block;
        margin-bottom: 10px; /* Проверить высоту, чтобы другие элементы опускались ниже */
    }

    /*2*/

    .burger-menu {
        display: flex;
    }

    /*Меню-бургер*/

    section{
        padding-bottom: 25px;
        padding-top: 25px;
    }


    .footer {
        margin-top: 55px;
        border-top-left-radius: 50px; 
        border-top-right-radius: 50px; 
        padding: 35px 0;
        padding-bottom: 35px; 
      }
    
   
    .footer-content {
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .footer-right p{
        padding-top: 10px;
    }

    .contacts{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
 
    .yarn-thread {
        right: 0;
        top:-90px;
        height: 150px;
        width: auto; 
    }
      
    .footer-right p{
        padding-top: 8px;
        align-items: center;
        text-align: center;
    }
    
    .footer button{
        height: 50px;
        min-width: 202px;
        font-size: 18px;
        border-radius: 13px;

    }
    
    
    
    .footer h3{
        padding-bottom: 5px;
    }
    
    .social{
        padding-top: 15px;
        padding-right: 5px;
    }

    /* .navbar {
        display: none;
        position: absolute;
        top: 70px; 
        left: 0;
        width: 100%;
        background-color: white;
        padding: 10px 0;
        z-index: 10;
    }
    
    .nav-menu {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0;
    }
    
    .nav-item {
        margin-bottom: 10px;
    }
    
    .burger-menu {
        display: flex;
    }
    
    
    .navbar.active {
        display: flex;
        flex-direction: column;
    }
    
    .dropdown-menu {
        position: static; 
    }
    
    .dropdown-menu.active {
        display: block;
        margin-bottom: 10px; 
    } */
}

