@font-face {
    font-family: 'AmaticSC';
    src: url('../fonts/AmaticSC-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: #F7F0EA;
}
header {
    margin: 0;
    padding: 0;
}

h1, h2, h3{
    font-family: 'AmaticSC', sans-serif; 
}

h1{
    text-align: center;
    font-weight: 400;
    font-size: 128px;
}

h2{
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    padding-bottom: 60px;
}



h1, h2, h3, h4, h5, h6{
    margin: 0;
    line-height: 1.4em;
}

h3{
    font-weight: 400;
    font-size: 40px;
}

p{
    margin: 0;
    line-height: 1.4em;  
    font-family: 'Montserrat Alternates', sans-serif;;
}

.p-bold{
    font-weight: 600;
}

* {
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    width: 100%;
}


.top-content{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    margin-top: 20px;
    width:135px;
    display:block;
}



.navbar {
    padding: 10px;
}

.nav-menu {
    list-style-type: none;
    padding: 0;
    margin-top: 54px;
    display: flex;
}

.nav-item {
    position: relative;
    margin-right: 20px;
}

.menu-title {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-title:hover {
    color: #DDA786;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    min-width: 170px;
    list-style-type: none;
    padding: 5px;
    margin: 0;
    border-radius: 13px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-menu li a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-menu li a:hover {
    color: #DDA786;
}

.dropdown:hover .dropdown-menu {
    display: block;
}



.filters-block{
    margin: 0 auto;
    width: 80%;
} 

/* .filter-caption{
    padding-top: 30px;
} */


.pet-count{
    padding-top: 35px;
    padding-bottom: 15px;
    text-align: right;
}

.filter-container{
    display: flex;
    justify-content: space-between;
    padding: 35px;
    border-radius: 40px; 
    background-color: #D8AD92;
    margin: 0 auto; 
    margin-top: 15px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}


.filter-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.clear-button {
    background: none;
    border: none;
    color: rgb(100, 100, 100); /* Или любой другой цвет текста */
    text-decoration: underline;
    font-family: 'Montserrat Alternates';
    cursor: pointer;
    padding: 0;
    font-size: 15px; 
}

.clear-button:hover {
    color: rgb(15, 15, 15); /* Изменение цвета при наведении, если необходимо */
}



.filter {
    /* margin: 35px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filter-label {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    display: flex;
    padding: 10px;
    min-width: 170px;
    border-radius: 13px;
    cursor: pointer;
    background-color: white;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
}

.filter li {
    padding: 10px;
    cursor: pointer;
}

.dropdown-menu li:hover {
    color: #D8AD92;
}





.pet-card{
    width: 285px;
}


.pet-image{
    width: 285px;
    height: auto;
}

.pet-name{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 32px;
    font-weight: 600;
}

/* .pet-card p{
    margin-bottom: 35px;
} */

.pet-shelter{
    font-size: 24px;
    font-weight: 600;
}

.left-info{
    width: 705px;
}

.pet-details {
    display: flex; /* Включаем Flexbox для .pet-details */
    flex-direction: row; 
    justify-content: space-between; /* Распределяем пространство между элементами */
    align-items: flex-start; /* Выравниваем элементы по верхнему краю */
}

.left-info {
    /* Ваши стили для текстовой информации */
    flex-grow: 1; /* Занимает оставшееся пространство */
    margin-right: 20px; /* Добавляем отступ справа от текста */
}

.pet-image-container {
    /* Ваши стили для контейнера изображения */
    /* Можно задать ширину, если необходимо */
}

.pet-image {
    /* Ваши стили для изображения */
    max-width: 300px; /* Примерная максимальная ширина изображения */
    height: auto;
}


.pet-details-link{
    padding: 17px 71px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 24px;
    font-weight: 200;
    color: #fff;
    background-color: #5082BD;
    border: none;
    border-radius: 17px;
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
    margin-top: 35px;
}

.pet-details-link:hover{
    background-color: #426C9D;
}

.pet-details-container{
    display: flex;
}

section{
    padding-top: 50px;
    padding-bottom: 50px;
}





.footer {
    margin-top: 150px;
    background-color: #D8AD92; 
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px; 
    position: relative; 
    padding: 75px 0;
    padding-bottom: 50px; 
  }
  
.footer-content {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.yarn-thread {
    position: absolute; 
    top:-40%;
    /* left: 0;  */
    width: 100%; 
    height: auto; 
    z-index: 10; 
}
  

.footer-right p{
    font-size: 14px;
    padding-top: 45px;
}

.footer-button{
    padding: 17px 62px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 24px;
    font-weight: 200;
    color: #fff;
    background-color: #5082BD;
    border: none;
    border-radius: 17px;
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
}

.footer-button:hover{
    background-color: #426C9D;
}


.footer h3{
    padding-bottom: 5px;
}

.social{
    padding-top: 15px;
    padding-right: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.social:hover{
    opacity: 85%;
}

/*Меню-бургер*/
/* .navbar {
    display: none;
    position: absolute;
    top: 70px; 
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px 0;
    z-index: 10;
}

.nav-menu {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
}

.nav-item {
    margin-bottom: 10px;
}

.burger-menu {
    display: flex;
}


.navbar.active {
    display: flex;
    flex-direction: column;
}

.dropdown-menu {
    position: static; 
}

.dropdown-menu.active {
    display: block;
    margin-bottom: 10px; 
} */



/*2*/
.burger-menu {
    padding-top: 50px;
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger-menu span {
    background-color: black;
    height: 3px;
    width: 25px;
    margin: 4px;
    transition: all 0.3s;
}

.navbar {
    top: 0;
    height: 100%;
    padding: 20px;
    transition: right 0.3s ease-in-out;
    z-index: 20;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    z-index: 10;
}


.navbar.active {
    right: 0;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

/*Меню-бургер*/


@media (max-width: 768px) {
   
    h1{
        font-size: 64px;
    }
    h5{
        font-size: 18px;
    }

    p{
        font-size: 13px;
    }
    h3{
        text-align: center;
    }

    /*Меню-бургер*/
    .navbar {
        display: none;
        position: absolute;
        left: 0;
        width: 75%;
        background-color: #FFFDFC;
        padding: 10px 0;
        z-index: 10;
    }

    .nav-menu {
        padding-top: 20px;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0;
    }

    .nav-item {
        margin-bottom: 10px;
    }

    .burger-menu {
        display: flex;
    }

    .navbar.active {
        display: flex;
        flex-direction: column;
    }

    .dropdown-menu {
        position: static; 
    }

    .dropdown-menu.active {
        display: block;
        margin-bottom: 10px;
    }

    /*2*/

    .burger-menu {
        display: flex;
    }

    /*Меню-бургер*/



    section{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    .filter-container{
        flex-direction: column;
        padding-top: 15px;
        padding-bottom: 15px;
        /* padding: 35px; */
        border-radius: 65px; 
    }

    .footer {
        margin-top: 55px;
        border-top-left-radius: 50px; 
        border-top-right-radius: 50px; 
        padding: 35px 0;
        padding-bottom: 35px; 
      }
    
   
    .footer-content {
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .footer-right p{
        padding-top: 10px;
    }

    .contacts{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
 
    .yarn-thread {
        right: 0;
        top:-90px;
        height: 150px;
        width: auto; 
    }
      
    .footer-right p{
        padding-top: 8px;
        align-items: center;
        text-align: center;
    }
    
    .footer button{
        height: 50px;
        min-width: 202px;
        font-size: 18px;
        border-radius: 13px;
        margin-bottom: 10px;

    }
       
    .footer p{
        text-align: center;
    }

    .footer h3{
        padding-bottom: 5px;
    }
    
    .social{
        padding-top: 15px;
        padding-right: 5px;
    }

}
