@font-face {
    font-family: 'AmaticSC';
    src: url('../fonts/AmaticSC-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: #F7F0EA;
    overflow-x: hidden;
}
header {
    margin: 0;
    padding: 0;
}

h1, h2, h3{
    font-family: 'AmaticSC', sans-serif; 
}

h1{
    text-align: center;
    font-weight: 400;
    font-size: 128px;
    padding-bottom: 3%;
}

h2{
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    padding-bottom: 60px;
}



h1, h2, h3, h4, h5, h6{
    margin: 0;
    line-height: 1.4em;
}

h3{
    font-weight: 400;
    font-size: 40px;
    padding-bottom: 35px;
}

.bold{
    font-weight: 600;
}

p{
    margin: 0;
    line-height: 1.4em;  
    font-family: 'Montserrat Alternates', sans-serif;;
}

h4{
    font-size: 32px;
    font-weight: 200;
}

h5{
    font-size: 24px;
    font-weight: 200;
}

.p-bold{
    font-weight: 600;
}

* {
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    width: 100%;
}


/* .top{
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 150px;
    margin: 0 auto ;
} */


.top-content{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    margin-top: 20px;
    width:135px;
    display:block;
}



.navbar {
    padding: 10px;
}

.nav-menu {
    list-style-type: none;
    padding: 0;
    margin-top: 54px;
    display: flex;
}

.nav-item {
    position: relative;
    margin-right: 20px;
}

.menu-title {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-title:hover {
    color: #DDA786;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    min-width: 170px;
    list-style-type: none;
    padding: 5px;
    margin: 0;
    border-radius: 13px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-menu li a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-menu li a:hover {
    color: #DDA786;
}

/* Показываем выпадающее меню при наведении на родителя */
.dropdown:hover .dropdown-menu {
    display: block;
}



.inception{
    text-align: center;
}



/* .design{
    padding-bottom: 20%;
    width: 100%;
} */


.inception h5{
    margin: 0 auto;
    width: 85%;
    padding-top: 30px;
}


/* .blocks {
    padding-top: 7%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 13%;
} */


.blocks{
    padding-top: 85px;
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
}

/* .vet{
    background-color: #FFF8F2; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    border-radius: 20px; 
    padding: 35px 30px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin-bottom: 30px;
}

.vet img{
    max-width: 30px;
    height: auto;
}

.cat-image {
    position: absolute;
    bottom: 0; 
    left: 1;
    width: 35%; 
    height: auto; 
}  */

.block h5{
    text-align: center;
}



button{
    margin-top: 45px;
    height: 69px;
    min-width: 313px;
    width: 100%;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: #fff;
    background-color: #5082BD;
    border: none;
    border-radius: 17px;
    cursor: pointer;
}
   
button:hover{
    transition: all 0.5s ease;
    background-color: #426C9D;
}




section{
    padding-top: 50px;
    padding-bottom: 50px;
}








.footer {
    margin-top: 120px;
    background-color: #D8AD92; 
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px; 
    position: relative; 
    padding: 75px 0;
    padding-bottom: 50px; 
  }
  
.footer-content {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}


.yarn-thread {
    position: absolute; 
    top:-40%;
    left: 0; 
    width: 100%; 
    height: auto; 
    z-index: 10; 
}
  
.footer-right p{
    padding-top: 15px;
}

.footer button{
    height: 75px;
    min-width: 285px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 24px;
    font-weight: 200;
    color: #fff;
    background-color: #5082BD;
    border: none;
    border-radius: 17px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.footer button:hover{
    background-color: #426C9D;
}

.footer h3{
    padding-bottom: 5px;
}

.social{
    padding-top: 15px;
    padding-right: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.social:hover{
    opacity: 85%;
}


.clinic-container {
    display: flex;
    flex-direction: column;
    gap: 20px;  
}
  
.clinic-block {
    background-color: #FFF8F2;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    border-radius: 20px; 
    padding: 35px 30px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between;
    margin-bottom: 30px;
}
  
.clinic-block:hover,
.clinic-block.active {
    background-color: #FFFDFC;
}

  /* .clinic-block:hover {
    background-color: #f0f0f0;
  } */
  

/* .vet-caption{
    display: flex;
    flex-direction: row;
} */


.h5-bold{
    font-weight: 600;
}

.info-left p{
    padding-top: 8px;
}

.info-point{
    padding-top: 8px;
}

.clinic-info {
    display: none;
    margin-top: 10px;
    transition: max-height 0.3s ease-out;
}
  
.map iframe {
    padding-top: 15px;
    width: 100%;
    height: 200px;
}
  




/*Меню-бургер*/
/* .navbar {
    display: none;
    position: absolute;
    top: 70px; 
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px 0;
    z-index: 10;
}

.nav-menu {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
}

.nav-item {
    margin-bottom: 10px;
}

.burger-menu {
    display: flex;
}


.navbar.active {
    display: flex;
    flex-direction: column;
}

.dropdown-menu {
    position: static; 
}

.dropdown-menu.active {
    display: block;
    margin-bottom: 10px; 
} */


.burger-menu {
    padding-top: 50px;
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger-menu span {
    background-color: black;
    height: 3px;
    width: 25px;
    margin: 4px;
    transition: all 0.3s;
}

.navbar {
    top: 0;
    height: 100%;
    padding: 20px;
    transition: right 0.3s ease-in-out;
    z-index: 20;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    z-index: 10;
}


.navbar.active {
    right: 0;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

/*Меню-бургер*/


@media (max-width: 768px) {
   
    body{
        overflow-x: hidden;
      
    }

    h1 {
        padding: 0;
        margin: 0;
        font-size: 64px;
        padding-bottom: 35px;
        text-align: center;
        line-height: 1.4em;
    }

    h2{
        font-size: 40px;
        padding-bottom: 10px;
    }

    p{
        font-size: 13px;
        padding-top: 0;
    }

    h3{
        font-size: 28px;
        padding-bottom: 10px;
    }

    h5{
        font-size: 18px;
    }


    /*Меню-бургер*/
    .navbar {
        display: none;
        position: absolute;
        right: 0;
        width: 70%;
        background-color: #FFFDFC;
        padding: 10px 0;
        z-index: 10;
    }

    .nav-menu {
        padding-top: 20px;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0;
    }

    .nav-item {
        margin-bottom: 10px;
    }

    .burger-menu {
        display: flex;
    }


    .navbar.active {
        display: flex;
        flex-direction: column;
    }

    .dropdown-menu {
        position: static; /* Сделать меню статичным, чтобы оно не перекрывало другие элементы */
    }

    .dropdown-menu.active {
        display: block;
        margin-bottom: 10px; 
    }

 

    .burger-menu {
        display: flex;
    }

    /*Меню-бургер*/


    .clinic-container {
        display: flex;
        flex-direction: column;
        gap: 10px;  
    }

    .blocks{
        padding-top: 25px;
    }

    .design{
        width: 180%;
    }

    .clinic-block {
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 15px; 
        margin-bottom: 13px;
    }

    section{
        padding-bottom: 25px;
        padding-top: 25px;
    }


    .footer {
        border-top-left-radius: 50px; 
        border-top-right-radius: 50px; 
        position: relative; 
        padding: 35px 0;
        padding-bottom: 50px; 
        overflow-x: hidden;
      }
     
      
    /* .footer-thread{
        width: 100%;
        overflow: hidden;
    }  */

    .footer-content {

        flex-direction: column;
        gap: 25px;
        justify-content: center;
        align-items: center;
       
    }

    .contacts{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
 
    .yarn-thread {
        position: absolute; 
        top:-20%;
        right: 0; 
        height: 150px;
        width: auto; 
        z-index: 10; 
        position: absolute;
        left:-10;
       
    }
      
    .footer-right p{
        padding-top: 8px;
        align-items: center;
        text-align: center;
    }
    
    .footer button{
        height: 50px;
        min-width: 202px;
        font-size: 18px;
        border-radius: 13px;

    }
    
    
    
    .footer h3{
        padding-bottom: 5px;
    }
    
    .social{
        padding-top: 15px;
        padding-right: 5px;
    }


    .navbar {
        display: none;
        position: absolute;
        top: 70px; 
        left: 0;
        width: 100%;
        background-color: white;
        padding: 10px 0;
        z-index: 10;
    }
    
    .nav-menu {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0;
    }
    
    .nav-item {
        margin-bottom: 10px;
    }
    
    .burger-menu {
        display: flex;
    }
    
    
    .navbar.active {
        display: flex;
        flex-direction: column;
    }
    
    .dropdown-menu {
        position: static; 
    }
    
    .dropdown-menu.active {
        display: block;
        margin-bottom: 10px; 
    }
    
    
}



